<odoo>
  <data>
    <!-- Top menu item -->

    <menuitem name="Task app" id="task_app.menu_root"/>

    <!-- menu categories -->

    <menuitem name="Tasks" id="task_app.menu_Tasks" parent="task_app.menu_root"/>
    <menuitem name="Category" id="task_app.menu_category" parent="task_app.menu_root"/>

    <!-- actions -->
    <menuitem name="Tasks" id="task_app.menu_Tasks_list" parent="task_app.menu_Tasks" action="task_app.action_window_task"/>
    <menuitem name="Category" id="task_app.menu_category_list" parent="task_app.menu_category" action="task_app.action_window_category"/>
  </data>
</odoo>